@media (min-aspect-ratio: 4/3) {

    #login {
        position: fixed;
        top: auto;
        left: auto;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: center;
        background-color:black;
    }

        #login form {
            width: 50%;
            height:10%;
            display:grid;
            grid-template-columns: 5fr 1fr;
            border: 0.5vmin solid white;
        }

        #login form input {
            font-size: larger;
        }

    .wrapper {
        width: inherit;
        height: 100vh;
        padding: 5vmin;
        display: grid;
        grid-column-gap: 1vw;
        grid-row-gap: 2vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 5fr;
        grid-template-areas: "info" "playingField" "hand";
    }

        .info {
            grid-area: info;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            box-shadow: 0 0 5px white;
        }

            .info .chat button {
                width: 100%;
                height: 100%;
            }

            .info .chat .window {
                position: fixed;
                right: 0;
                bottom: 0;
                height: 60vh;
                width: 20vw;
                z-index: 1;
                display: grid;
                grid-template-rows: 4fr 1fr;
                transition: right 1s;
            }

                .info .chat .window ul {
                    padding-left: 3%;
                    border-bottom: 0.5vh solid white;
                    overflow-y: scroll;
                }

                .info .chat .window form {
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                }

                    .info .chat .window form input {
                        padding-left: 3%;
                        font-size:larger;
                    }


        #ready_player {
            display: flex;
            width: 30vw;
            height: 20vh;
            position: absolute;
            top: 20vh;
            left: 35vw;
            z-index: 2;
            background-color: white;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center; /*orthogonal to flow vector*/
            border-radius: 2vmin;
            transform: translateY(0vh);
            transition-property: transform;
            transition-duration: 1s;
            transition-timing-function: ease-in;
        }
            #ready_player > #votes {
                text-align: center;
                display: block;
                width: 80%;
                height: 20%;
                background-color: #c53e3e;
                box-shadow: 0 0 1vmin rgba(191, 26, 26, 0.80);
            }
            #ready_player > button {
                border: none;
                width: 80%;
                height: 50%;
                background-color: #c53e3e;
                box-shadow: 0 0 1vmin #b71717;
                z-index: initial;
                transition-property: box-shadow, z-index;
                transition-duration: 1s;
            }
                #ready_player > button:hover {
                    box-shadow: 0 0 6vmin #b71717;
                    z-index: 7;
                }

        .playingField {
            grid-area: playingField;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 5px white;
        }
 
            .playingField > div {
                height: 80%;
                width: 10%;
                margin-left: 2%;
                margin-right: 2%;
                border: 0.5vh solid white;
                border-radius: 5px;
            }

        .hand {
            grid-area: hand;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 5px white;
        }

            .hand > div {
                height: 60%;
                width: 8%;
                margin-left: 1%;
                margin-right: 1%;
                border: 0.5vh solid white;
                border-radius: 5px;
            }

            .hand div a {
                display:block;
                width: 100%;
                height: 100%;
            }
 }
