/*@media (min-aspect-ratio: 4/3) {*/
    :root {
        --left-first-coloumn: 2vw;
        --left-second-coloumn: 34vw;
        --top-first-row: 2vh;
        --top-second-row: 14vh;
        --top-third-row: 56vh;
        --card-height: 30vh;
        --card-width: 21vh;
        --top-playingstack: 19vh;
        --left-playingstack: 66vw;
        --top-hand: 56vh;
        --top-in-hand: 62vh;
				--primary_color: #000000;
				--secondary_color: #ffffff;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
				background-color: var(--primary_color);
				color: var(--secondary_color);
    }
		#ready_player, #info, #votes, #info, #playerboard, #hand, #playingfield, .chat.window
		{
			border: 1px solid var(--secondary_color);
				box-shadow: 0 0 5px var(--secondary_color);
		}
    img {
        height: inherit;
        width: inherit;
    }
    #loading {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    #login {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: center;
        background-color:rgb(24, 24, 24);
    }
        #login > form {
            width: 30%;
            height:10%;
            display: grid;
            grid-template-columns: 4fr 1fr;
            border: 0.1vmin solid var(--secondary_color);
        }
        #login > form > input {
            font-size: larger;
        }
    #info {
        position: fixed;
        left: var(--left-first-coloumn);
        top: var(--top-first-row);
        width: 96vw;
        height: 10vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        box-shadow: 0 0 5px var(--secondary_color);
    }
        #info > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding-left: 0.5vw;
        }
        #info > .chat > button {
            width: 100%;
            height: 100%;
        }

    .chat.window {
        position: fixed;
        right: 0;
        bottom: 0;
        height: 60vh;
        width: 20vw;
        z-index: 9;
        display: grid;
        grid-template-rows: 4fr 1fr;
        transition: right 350ms;
    }
        .chat.window > ul {
            padding-left: 3%;
            /*border-bottom: 0.5vh solid white;*/
            overflow-y: scroll;
        }
        .chat.window > form {
            display: grid;
            grid-template-columns: 4fr 1fr;
        }
            .chat.window > form > input {
                padding-left: 3%;
                font-size:larger;
            }
    #ready_player {
        display: flex;
        width: 30vw;
        height: 20vh;
        position: fixed;
        top: 20vh;
        left: 35vw;
        z-index: 9;
        background-color: var(--secondary_color);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; /*orthogonal to flow vector*/
        border-radius: 2vmin;
        transform: translateY(0vh);
        transition-property: transform;
        transition-duration: 350ms;
        transition-timing-function: ease-in;
    }
        #votes
				{
					width: 80%;
					height: 20%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
        }
        #ready_player > button {
            border: none;
            width: 80%;
            height: 50%;
            z-index: initial;
            font-size: 1em;
            transition-property: box-shadow, z-index, width, height, font-size;
            transition-duration: 350ms;
        }
            #ready_player > button:hover {
                width: 88%;
                height: 55%;
                z-index: 10;
                font-size: 1.1em;
            }
    .take_guess {
        position: fixed;
        right: -20vw;
        bottom: 64vh;
        height: 10vh;
        width: 20vw;
        z-index: 9;
        display: grid;
        grid-template-rows: 4fr 1fr;
        transition-property: right;
        transition-duration: 350ms;
    }
        .take_guess > form {
            height: inherit;
            width: 100%;
            display: grid;
            grid-template-columns: 4fr 1fr;
        }
            .take_guess > form > input {
                padding-left: 3%;
                font-size:larger;
            }
    #playerboard {
        position: fixed;
        left: var(--left-first-coloumn);
        top: var(--top-second-row);
        width: 30vw;
        height: 40vh;
        border: 0.5vh solid var(--semitransparent);
    }
		#playerboard > table {
			width: 100%;
			padding: 1vmin;
		}
		#playerboard > table > tr {
			width: 100%;
			display: flex;
			flex-direction: row;
		}
    #playerboard > table > tr > .name {
			width: 50%;
		}
    #playerboard > table > tr > .points {
        width: 25%;
    }
		#playerboard > table > tr > .won_guess {
        width: 25%;
    }
    #playingfield {
        position: absolute;
        left: 100vw;/*left: var(--left-second-coloumn;*/ /*when visible*/
        top: var(--top-second-row);
        transition: left 2s, top 2s;
        width: 64vw;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hand {
        position: fixed;
        left: var(--left-first-coloumn);
        top: 100vh;/*top: 56vh;*/
        transition: left 2s, top 2s;
        width: 96vw;
        height: 42vh;
				border: var(--secondary_color) solid 1px;
        box-shadow: 0 0 5px var(--secondary_color);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }
        #hand > .card_frame {
            height: var(--card-height);
            width: var(--card-width);
        }
    .card {
        position: fixed;
        left: -14vw;
        top: 100vh;
        transition: left 450ms, top 450ms;
        background-color: var(--secondary_color);
        height: var(--card-height);
        width: var(--card-width);
        z-index: 2;
        border: none;
        border-radius: 5px;
    }
    .inhand {
        position: fixed;
        top: var(--top-in-hand);
        z-index: 2;
        transition: box-shadow 1s, transform 1s, left 450ms, top 450ms;
    }
    .inhand:hover {
        box-shadow: 0 0 10px var(--secondary_color);
        transform: scale(1.05);
    }
    .fromanotherplayer {
        position: fixed;
        transition: left 450ms, top 450ms;
        left: 100vw;
        top: 26vh;
    }
    .nexttoplayingstack {
        position: fixed;
        left: 100vw;
        top: var(--top-playingstack);
    }
    /*
    .onplayingstack {
        position: fixed;
        left: var(--left-playingstack);
        top: var(--top-playingstack);
    }
/* }*/
