:root 
{
    --thegreen: #7ABF24;
    --semitransparent: #ffffffef;
    --milkglass: #ffffff6b;
}

* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
}

body 
{
    font-family: sans-serif;
    overflow-wrap: break-word;
    font-size: 4vmin;
}

.grid-box 
{
    /*
    box-shadow: 2px 2px 2px var(--semitransparent);
    */
    /*border: 0.5vh solid var(--semitransparent);*/
    border-radius: 5px;
}

button 
{
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 3vmin;
}

    button:hover 
    {
        transition-property: color;
        transition-duration: 0.5s;
    }
