@keyframes orange-blue-shadow {
    from {box-shadow: orange 0 0 2vmax;}
    to {box-shadow: blue 0 0 2vmax;}
}

@keyframes green-blue-shadow {
    from {
        box-shadow: green 0 0 2vmax;
    }

    to {
        box-shadow: blue 0 0 2vmax;
    }
}

.wrapper > .grid-box {
    animation-name: orange-blue-shadow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}